<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">

        //Set and return the ip of the server
        function ip() {
            var url = "http://192.168.3.23:3000/api/";
            return url;
        }

        //Puts the FORWARD state for 100ms then stops
        function showDivAcc(url)
        {
            var state = "FORWARD";

            var client = new XMLHttpRequest();
            client.open("PUT", url+state, false);
            client.setRequestHeader("Content-Type", "text/plain");
            client.send(state);
            client.abort();

            //Puts STOP state after time is elapsed (100ms)
            window.setTimeout(function()
            {
                document.getElementById('div3').style.display = 'block';
                document.getElementById('div3').innerHTML="STOP";

                client.open("PUT", url+"STOP", true);
                client.setRequestHeader("Content-Type", "text/plain");
                client.send("STOP");
            }, 100);

            return false;
        }

        //Puts the LEFT state for 50ms then stops
        function showDivLeft(url)
        {
            var state = "LEFT";

            var client = new XMLHttpRequest();
            client.open("PUT", url+state, false);
            client.setRequestHeader("Content-Type", "text/plain");
            client.send(state);
            client.abort();

            //Puts STOP state after time is elapsed (50ms)
            window.setTimeout(function()
            {
                document.getElementById('div3').style.display = 'block';
                document.getElementById('div3').innerHTML="STOP";

                client.open("PUT", url+"STOP", true);
                client.setRequestHeader("Content-Type", "text/plain");
                client.send("STOP");
            }, 50);

            return false;
        }

        //Puts the RIGHT state for 50ms then stops
        function showDivRight(url)
        {
            var state = "RIGHT";

            var client = new XMLHttpRequest();
            client.open("PUT", url+state, false);
            client.setRequestHeader("Content-Type", "text/plain");
            client.send(state);
            client.abort();

            //Puts STOP state after time is elapsed (50ms)
            window.setTimeout(function()
            {
                document.getElementById('div3').style.display = 'block';
                document.getElementById('div3').innerHTML="STOP";

                client.open("PUT", url+"STOP", true);
                client.setRequestHeader("Content-Type", "text/plain");
                client.send("STOP");
            }, 50);

            return false;
        }

        //Puts the BACKWARD state for 100ms then stops
        function showDivBack(url)
        {
            var state = "BACKWARD";

            var client = new XMLHttpRequest();
            client.open("PUT", url+state, false);
            client.setRequestHeader("Content-Type", "text/plain");
            client.send(state);
            client.abort();

            //Puts STOP state after time is elapsed (100ms)
            window.setTimeout(function()
            {
                document.getElementById('div3').style.display = 'block';
                document.getElementById('div3').innerHTML="STOP";

                client.open("PUT", url+"STOP", true);
                client.setRequestHeader("Content-Type", "text/plain");
                client.send("STOP");
            }, 80);

            return false;
        }

        //Used to control the robot with the keyboard. wasd for navigation and ijkl for camera servos. Is executed when a key is pressed.
        function key(e)
        {
            //--------------Navigation control--------------
            //Go forward if 'w' or 'W' key is pressed
            if (e.keyCode == 119|| e.keyCode == 87)
            {
                showDivAcc(ip());
                document.getElementById('div3').style.display = 'block';
                document.getElementById('div3').innerHTML="Going Forward";
            }
            //Go left if 'a' or 'A' key is pressed
            if (e.keyCode == 65 ||e.keyCode ==  97)
            {
                showDivLeft(ip());
                document.getElementById('div3').style.display = 'block';
                document.getElementById('div3').innerHTML="Going Left";
            }
            //Go right if 'd' or 'D' key is pressed
            if (e.keyCode == 68 ||e.keyCode ==  100)
            {
                showDivRight(ip());
                document.getElementById('div3').style.display = 'block';
                document.getElementById('div3').innerHTML="Going Right";
            }
            //Go backward if 's' or 'S' key is pressed
            if (e.keyCode == 115 ||e.keyCode ==  83)
            {
                showDivBack(ip());
                document.getElementById('div3').style.display = 'block';
                document.getElementById('div3').innerHTML="Going Backward";
            }

            //------------------Camera servos control------------------
            //Move Servo1 up with "i"
            if (e.keyCode == 105|| e.keyCode == 73)
            {
                servo1Up(ip())
                document.getElementById('div4').style.display = 'block';
                document.getElementById('div4').innerHTML="Camera UP";
            }
            //Move Servo1 down with "k"
            if (e.keyCode == 107|| e.keyCode == 75)
            {
                servo1Down(ip())
                document.getElementById('div4').style.display = 'block';
                document.getElementById('div4').innerHTML="Camera DOWN";
            }
            //Move Servo2 right with "l"
            if (e.keyCode == 108|| e.keyCode == 76)
            {
                servo2Right(ip())
                document.getElementById('div4').style.display = 'block';
                document.getElementById('div4').innerHTML="Camera RIGHT";
            }
            //Move Servo2 left with "j"
            if (e.keyCode == 106|| e.keyCode == 74)
            {
                servo2left(ip())
                document.getElementById('div4').style.display = 'block';
                document.getElementById('div4').innerHTML="Camera LEFT";
            }
        }

        function servo1Up(url)
        {
            document.getElementById('div4').style.display = 'block';
            document.getElementById('div4').innerHTML = "Servo1UP";

            var client = new XMLHttpRequest();
            client.open("PUT", url+"SERVO1UP", false);
            client.setRequestHeader("Content-Type", "text/plain");
            client.send("SERVO1UP");
            client.abort();
            window.setTimeout(function()
            {
                client.open("PUT", url+"SERVO1STOP", true);
                client.setRequestHeader("Content-Type", "text/plain");
                client.send("SERVO1STOP");
            }, 50);
        }

        function servo1Down(url)
        {
            document.getElementById('div4').style.display = 'block';
            document.getElementById('div4').innerHTML = "Servo1Down";

            var client = new XMLHttpRequest();
            client.open("PUT", url+"SERVO1DOWN", false);
            client.setRequestHeader("Content-Type", "text/plain");
            client.send("SERVO1DOWN");
            client.abort();
            window.setTimeout(function()
            {
                client.open("PUT", url+"SERVO1STOP", true);
                client.setRequestHeader("Content-Type", "text/plain");
                client.send("SERVO1STOP");
            }, 50);
        }

        function servo2Right(url)
        {
            document.getElementById('div4').style.display = 'block';
            document.getElementById('div4').innerHTML = "Servo2RIGHT";

            var client = new XMLHttpRequest();
            client.open("PUT", url+"SERVO2RIGHT", false);
            client.setRequestHeader("Content-Type", "text/plain");
            client.send("SERVO2RIGHT");
            client.abort();
            window.setTimeout(function()
            {
                client.open("PUT", url+"SERVO2STOP", true);
                client.setRequestHeader("Content-Type", "text/plain");
                client.send("SERVO2STOP");
            }, 50);
        }

        function servo2left(url)
        {
            document.getElementById('div4').style.display = 'block';
            document.getElementById('div4').innerHTML = "Servo2LEFT";

            var client = new XMLHttpRequest();
            client.open("PUT", url+"SERVO2LEFT", false);
            client.setRequestHeader("Content-Type", "text/plain");
            client.send("SERVO2LEFT");
            client.abort();
            window.setTimeout(function()
            {
                client.open("PUT", url+"SERVO2STOP", true);
                client.setRequestHeader("Content-Type", "text/plain");
                client.send("SERVO2STOP");
            }, 50);
        }

        function setPWMServo1(value,url)
        {
            document.getElementById('div4').style.display = 'block';
            document.getElementById('div4').innerHTML = value;

            var client = new XMLHttpRequest();
            client.open("PUT", url+"SERVO1_"+value, false);
            client.setRequestHeader("Content-Type", "text/plain");
            client.send(value);
            client.abort();
        }

        function setPWMServo2(value,url)
        {
            document.getElementById('div4').style.display = 'block';
            document.getElementById('div4').innerHTML = value;

            var client = new XMLHttpRequest();
            client.open("PUT", url+"SERVO2_"+value, false);
            client.setRequestHeader("Content-Type", "text/plain");
            client.send(value);
            client.abort();
        }
    </script>
</head>

<body onkeypress="javascript:key(event);">
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<% include templates/menu.ejs %>
<br><br>
<form  >
    <input type="submit" onclick="return showDivAcc(ip());" value="Forward" />
</form>
<form action="">
    <input type="submit" onclick="return showDivBack(ip());" value="Backward" />
</form>
<form action="" >
    <input type="submit" onclick="return showDivLeft(ip());" value="Left" />
</form>
<form action="" >
    <input type="submit" onclick="return showDivRight(ip());" value="Right" />
</form>
<br>
<div id="div3" style="display: none;"></div>
<br>
<p>PWM testing</p>
<form  >
    Input PWM Servo1 value:<br>
    <input type="text" name="PWMvalue" id="PWMValueID1"><br>
    <input type="submit" onclick="return setPWMServo1(document.getElementById('PWMValueID1').value ,ip());" value="Set">
</form>
<form  >
    Input PWM Servo2 value:<br>
    <input type="text" name="PWMvalue" id="PWMValueID2"><br>
    <input type="submit" onclick="return setPWMServo2(document.getElementById('PWMValueID2').value ,ip());" value="Set">
</form>
<br>
<div id="div4" style="display: none;"></div>
<br>
</body>
</html>
